
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");

* {
  /* font-family: "Quicksand", sans-serif; */
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  /* font-size: .985rem; */
  font-weight: 400;
  line-height: 1.5;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Loading */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* margin-top: 7px; */
}

.loading-spinners {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-loading img {
  width: 100px;
}

.logo-loading {
  height: 80px;
  width: 80px;
  animation: pulse 1s infinite;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }
}

/* ERROR POPUP */

.Error {
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  background-color: rgba(255, 255, 255, 0.5);
}

.Warning {
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  background-color: rgba(255, 255, 255, 0.5);
}

.Info .popup-icon {
  background-color: #60a5fa;
}

.Warning .popup-icon {
  background-color: #f59e0b;
}

.Error .popup-icon {
  background-color: rgb(236, 43, 88);
}

.Success .popup-icon {
  background-color: #10b981;
}

.Info {
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  background-color: rgba(255, 255, 255, 0.5);
}

.Success {
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  background-color: rgba(255, 255, 255, 0.5);
}

.alert-popup p {
  text-transform: capitalize;
  padding-left: 5px;
  margin-top: 0px;
}

.alert-popup-main {
  position: fixed;
  top: 60px;
  right: 55px;
  z-index: 9999;
}

@media screen and (max-width: 490px) {
  .alert-popup-main {
    right: -40px;
  }
}

.alert-popup {
  display: flex;
  align-items: center;
  position: relative;
  top: 120px;
  right: 50px;
  padding: 4px 15px 4px 7px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(32, 31, 31, 0.2);
  z-index: 9999;
  animation: fadeInOut 1s ease;
}

.alert-popup .popup-icon {
  color: #fff;
  border: 1px solid #ccc;
  padding: 5px 5px 3px 5px;
  border-radius: 4px;
  margin: 3px;
}

.alert-popup .popup-icon svg {
  color: #fff;
}

.alert-popup .cancel-btn svg {
  font-size: 14px;
}

.alert-popup .cancel-btn {
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 1px;
  right: 5px;
}

@keyframes fadeInOut {
  from {
    transform: translateX(50px);
    opacity: 0;
  }

  to {
    transform: translateX(10);
    opacity: 1;
  }
}

/* CSS animation for the .input element */

.input-field {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

.input-field .input {
  transition: transform 0.3s ease;
}

.input-field .input-g {
  transition: transform 0.3s ease;
}

.input-field .input:hover {
  transform: translateY(-5px) scale(1.05);
}

.input-field .input-g:hover {
  transform: translateY(-5px) scale(1.05);
}

/* CSS animation for the icon */

.input-field .input .icone {
  transition: transform 0.3s ease;
}

.input-field .input-g .icone {
  transition: transform 0.3s ease;
}

/* Define the keyframes for the zigzag animation */

@keyframes zigzag {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  75% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Apply the zigzag animation on hover */

.input-field .input .icone:hover {
  animation: zigzag 0.5s ease;
}

.input-field .input-g .icone:hover {
  animation: zigzag 0.5s ease;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Scroll Style */

.Scroll-Style-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  cursor: pointer;
  position: absolute;
}

.Scroll-Style {
  overflow: auto;
}

.Scroll-Style::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  cursor: pointer;
  position: absolute;
}

/* .Scroll-Style::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px transparent;
} */

.Scroll-Style::-webkit-scrollbar-thumb {
  background-color: #1976d2;
  width: 8px;
  height: 8px;
  cursor: pointer;
  border-radius: 20px;
}

.Scroll-Style-Slim {
  overflow: scroll;
}

.Scroll-Style-Slim::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  cursor: pointer;
  position: absolute;
}

.Scroll-Style-Slim::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px transparent;
}

.Scroll-Style-Slim::-webkit-scrollbar-thumb {
  background-color: #6d6d6d;
  width: 0px;
  cursor: pointer;
  border-radius: 20px;
}

.css-204u17-MuiDataGrid-main {
  overflow: scroll;
}

.css-204u17-MuiDataGrid-main ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  cursor: pointer;
  position: absolute;
}

.css-204u17-MuiDataGrid-main ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px transparent;
}

/* .css-204u17-MuiDataGrid-main ::-webkit-scrollbar-thumb {
  background-color: #457cdc;
  width: 50px;
  cursor: pointer;
  border-radius: 20px;
} */

/* INPUT Fiels*/

.input-select {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  color: #676767;
  font-size: 16px;
  background: transparent;
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 10px;
}

.input-select:focus {
  border: solid 2px #1976d2;
}

.input-select option {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  background: transparent;
}

/* TIMER START */

.input-field .time {
  display: flex;
  position: relative;
  flex-direction: column;
}

.input-field .time input {
  width: 181px;
  margin-top: 28px;
  margin-bottom: 25px;
  background: transparent;
  text-align: inherit;
  border: 1px solid #457cdc;
  padding: 15px 8px 15px 10px;
  border-radius: 4px;
  font-size: 17px;
}

.input-field .time label {
  position: absolute;
  color: #272626;
  font-size: 14px;
  top: 0px;
  font-weight: 500;
  left: 5px;
}

/* TIMER END */

.input-field {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-field .input {
  width: 244px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 20px; */
}

.input-field .input-g {
  width: 244px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 20px; */
}

.css-1tl47u6,
.css-3igl15 {
  margin: 0px 0px 8px !important;
}

.input-field .radio {
  font-size: 20px !important;
}

.checkbox {
  color: rgb(69, 62, 62);
  margin-top: 10px;
}

.css-1hbvpl3-MuiSvgIcon-root {
  height: 18px !important;
}

.css-ahj2mt-MuiTypography-root {
  font-size: 13px !important;
}

.input-field .input option {
  text-transform: uppercase;
}

.input-field .input .icone {
  padding: 10px 8px 0 0 !important;
  color: #6c6868;
}

.input-field .input-g option {
  text-transform: uppercase;
}

.input-field .input-g .icone {
  padding: 10px 8px 0 0 !important;
  color: #6c6868;
}

.icone svg {
  font-size: 23px;
}

.download-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
}

.full-width {
  width: 100%;
}

.Download-btn {
  padding-bottom: 15px;
}

.select-field {
  border: #000;
}

@media screen and (max-width: 768px) {
  .customer-form {
    background-color: #000;
  }

  .input-field {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 1rem;
  }

  .input-field .input {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }

  .input-field .input-g {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }

  .input-field .radio {
    font-size: 20px !important;
  }

  .checkbox {
    color: rgb(69, 62, 62);
    margin-top: 10px;
  }

  .css-1hbvpl3-MuiSvgIcon-root {
    height: 18px !important;
  }

  .css-ahj2mt-MuiTypography-root {
    font-size: 13px !important;
  }

  .input-field .input option {
    text-transform: uppercase;
  }

  .input-field .input .icone {
    padding: 10px 10px 0px;
  }

  .input-field .input-g option {
    text-transform: uppercase;
  }

  .input-field .input-g .icone {
    padding: 10px 10px 0px;
  }

  .select-field {
    border: #000;
  }
}

/* TextBox */

.textbox {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.textboxlist {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #ccc;
  height: 250px;
}

.list-update {
  margin-top: 10px;
  overflow: scroll;
  height: 90%;
}

.textboxlist p::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  overflow-x: hidden;
}

.textboxupdate .textbox-container::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  overflow-x: hidden;
}

.textboxupdate .textbox-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.textboxupdate .textbox-container::-webkit-scrollbar-thumb {
  background-color: rgb(217, 212, 212);
  outline: 1px solid slategrey;
}

.textboxupdate .textbox-container {
  /* position: relative; */
  border-radius: 5px;
  overflow: scroll;
  color: #3d3b3b;
  padding: 5px;
  font-weight: 500;
  background-color: #fff;
  height: 200px;
  width: 300px;
}

.textbox-container .icon {
  position: fixed;
  bottom: 50px;
  right: 80px;
  border-radius: 50%;
  background-color: #f8f8f8;
  z-index: +9999;
}

.css-1c4hl6u {
  position: relative;
  margin-top: 0px !important;
  height: 0px !important;
}

/* Date */

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: #456ddc !important;
}

/* dashboard.css or a separate CSS file */

/* MENUBAR FOR ALL PAGES */
.menu-bar-main {
  display: flex;
  justify-content: center;
}

.menu-bar {
  border-radius: 25px;
  height: fit-content;
  display: flex;
  background-color: rgba(116, 112, 112, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  gap: 1rem;
  width: fit-content;
}

.menu-link {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: sans-serif;
  font-weight: 300;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.menu-link.actives {
  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.4s;
    border-radius: 25px;
  }

  & {
    &::before {
      background: linear-gradient(to bottom, #eaebeb89, #d2d1d36e);
      box-shadow: 0px 3px 10px 0px rgb(109, 107, 107);
      transform: scale(1.2);
    }

    color: black;
  }
}

@media screen and (max-width: 1200px) {
  .menu-bar {
    gap: 0;
  }
}

@media screen and (max-width: 768px) {
  .menu-bar {
    gap: 0;
  }
}

.input {
  width: 212px !important;
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.input-g {
  width: 212px !important;
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}


.css-19kzrtu {
  padding: 0px !important;
}

.textarea-input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  font-size: 16px;
  /* font-weight: 600; */
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.23);
}

.main-content-container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  overflow-x: hidden;
}

.main-content-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.main-content-container::-webkit-scrollbar-thumb {
  background-color: rgb(217, 212, 212);
  outline: 1px solid slategrey;
}

.main-content-container {
  border: 2px solid #ccc;
  overflow: scroll;
  height: 80vh;
  width: 83vw;
  margin: 0px 3px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  color: #000;
  background-color: var(--glass);
  transition: all 0.3s ease;
}

@media screen and (min-width: 769px) and (max-width:1499px) {
  .side-bar-menu-close .main-content-container {
    width: 94vw;
    /* margin: 0px 4px; */
  }
}

@media screen and (min-width: 1499px) {
  .side-bar-menu-close .main-content-container {
    width: 99% !important;
  }

  .main-content-container {
    border: 2px solid #ccc;
    overflow: scroll;
    height: 80vh;
    width: 100% !important;
    margin: 0px 3px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    color: #000;
    background-color: var(--glass);
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: 768px) {
  .Android .main-content-container {
    margin-top: -35px;
  }

  .main-content-container {
    width: 98vw;
    margin-top: 20px !important;
    height: 78vh;
  }

  .iPhone-responsive .main-content-container {
    height: 86vh;
  }
}

@media screen and (min-width:970px) and (max-width:1240px) {
  .side-bar-menu-close .main-content-container {
    width: 98%;
    margin: 0px 3px;
  }

  .main-content-container {
    width: 83vw;
  }
}

@media screen and (min-width:769px) and (max-width:969.99px) {
  .side-bar-menu-close .main-content-container {
    width: 90vw;
  }

  .main-content-container {
    width: 79vw;
  }
}

.head-tab-all {
  position: sticky;
  top: 0px;
  padding: 0px 10px 0px 0px;
  background-color: #ffffff;
  z-index: 5;
}

.head-tab-type-2-all {
  position: sticky !important;
  top: 0px;
  z-index: 2;
  background-color: #ffffff;
  padding: 10px 10px 14px 0px !important;
  margin: 0px;
}

.head-tab-type-2-all .Title-Name {
  font-size: 14px;
  font-weight: 600;
  color: #457cdc;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  padding: 12px 16px;
}

.head-tab-type-2-all::after {
  content: "";
  position: absolute;
  bottom: 0px !important;
  left: 0px !important;
  width: 113px;
  border-radius: 20px;
  height: 2px;
  background-color: #457cdc;
}

.main-content-form {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #000;
  zoom: 90%;
  /* width: 100%; */
}

@media screen and (min-width: 1300px) and (max-width: 1424.99px) {
  .main-content-form {
    zoom: 82%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1299.99px) {
  .main-content-form {
    zoom: 77%;
  }
}

.head-tab-all .css-k008qs,
.map-vehicle-table-tabs .css-k008qs {
  overflow: auto;
}

.btn-icon {
  font-size: 23px;
  padding-right: 5px;
}

.common-speed-dail {
  position: fixed;
  margin-top: 3px;
  height: 320px;
  top: -75px;
  right: 30px;
  z-index: 9;
}



/* @media screen and (min-width: 769px) {
  .side-bar-menu-close .form-container-booking .container-main,
  .side-bar-menu-close .form-container-TripStatus .container-main,
  .side-bar-menu-close .form-container-tripsheet .Tripsheet-form {
    width: 96vw;
  }
} */



/* .css-feqhe6{
  width: 210px !important;
} */
/* MENUBAR FOR ALL PAGES ENDS*/


.overall-table-div-width-records-fuel-log {
  width: auto;
  overflow-x: scroll;
  border: 2px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 15px 0px 15px;
}

@media screen and (min-width: 769px) and (max-width: 1135px) {
  .common-speed-dail {
    top: -22px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1424.99px) {
  .common-speed-dail {
    top: -22px;
  }
}

.css-160unip>.MuiTextField-root {
  min-width: auto !important;
}



/* .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
  width: auto !important;
} */

@media screen and (max-width:500px) {

  .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    min-width: 0 !important;
    padding: 0 !important;
  }

  .css-8cymlm-MuiButtonBase-root-MuiButton-root {
    min-width: 0 !important;
    padding: 0 !important;
  }

  .css-1tumjyn-MuiButtonBase-root-MuiButton-root{
    min-width: 0 !important;
    padding: 0 !important;
  }

  .css-15rd7m4{
    left: 50% !important;
  }

}